.App {
  /* text-align: center; */
  width: 1024px;
  margin: 0 auto;
}

.App header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  line-height: 80px;
}

.App header a {
  margin-right: 10px;
}

.App header a.active {
  color: red;
}

.App table {
  border-collapse: collapse;
}

.App table td, .App table th {
  border: solid 1px #2e3234;
  padding: 8px;
}
